@import "normalize";
@import "variables";
@import "colors";
@import "global";
@import "typography";

// .black {
//     .app-page {
//         &__menu {
//             a,
//             div {
//                 color: $grey;
//                 &:hover,
//                 &.active {
//                     color: $white;
//                 }
//             }
//         }
//     }
//     .header {
//         &__lang {
//             color: #7F7F7F;
//             &:hover {
//                 color: $white;
//             }
//         }
//     }
//     .opt-client {
//         color: #7F7F7F;
//         &:hover {
//             color: $white;
//         }
//     }
// }

.warning-banner {
    position: fixed;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
    width: 100px;
    img {
        display: block;
        width: 100%;
    }
}

.opt-client {
    position: fixed;
    left: 50px;
    bottom: 50px;
    cursor: pointer;
    font-size: 23px;
    z-index: 6;
    transition: .3s ease;
    &:hover {
        color: $black;
    }
}

::placeholder {
    color: $grey;
    font-weight: 300;
}

.search {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    right: 0;
    background: $white;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 20px 0px rgba(#000, .2);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: .5s ease;
    &.opened {
        transform: none;
        opacity: 1;
        pointer-events: all;
    }
    &__close {
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
        img {
            display: block;
        }
    }
    &__field {
        max-width: 690px;
        width: 100%;
        position: relative;
        button {
            outline: none;
            appearance: none;
            border: none;
            cursor: pointer;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -18px;
            background: transparent;
        }
        img {
            display: block;
        }
        input {
            width: 100%;
            height: 50px;
            border: none;
            border-bottom: 1px solid #C3C3C3;
            font-size: 23px;
            outline: none;
            padding-left: 50px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    pointer-events: none;
    $header: &;
    &_white {
        #{$header} {
            &__lang {

            }
        }
    }
    &__logo {
        cursor: pointer;
        pointer-events: all;
        img {
            display: block;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        &_row {
            flex-direction: row;
            #{$header} {
                &__icon {
                    padding: 10px;
                }
                &__lang {
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
    &__icon {
        cursor: pointer;
        padding: 10px 0;
        display: block;
        pointer-events: all;
        img {
            display: block;
        }
    }
    &__lang {
        color: #000;
        font-size: 23px;
        cursor: pointer;
        font-weight: 300;
        pointer-events: all;
        margin-bottom: 10px;
        transition: .3s ease;
        &:hover {
            color: $black;
        }
    }
}

.app-page {
    display: flex;
    flex: 1 1 auto;
    $app-page: &;
    &__leftside {
        flex: none;
        width: 100%;
        max-width: 482px;
        padding: 0 50px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 6;
    }
    &__main {
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
        padding-left: 482px;
        padding-right: 280px;
        &.full_right {
            padding-right: 0;
        }
    }
    &__rightside {
        flex: none;
        width: 100%;
        max-width: 280px;
        padding: 0 50px;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 6;
        #{$app-page} {
            &__menu {
                text-align: right;
            }
        }
    }
    &__menu {
        padding-top: 223px;
        @media screen and (max-height: 880px) {
            padding-top: 190px;
        }
        &:hover {
            a,div {
                color: $grey;
            }
        }
        a,
        div {
            cursor: pointer;
            text-decoration: none;
            color: $black;
            font-size: 23px;
            display: block;
            margin-bottom: 10px;
            transition: .3s ease;
            &.active {
                color: $black;
            }
            &:hover {
                color: $black;
            }
            &.mb {
                margin-bottom: 23px;
            }
        }
    }
}

.homepage {
    height: 100vh;
    $homepage: &;
    .app-page__main {
        position: relative;
    }
    &__categories {
        margin: 0 -40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 auto;
        height: 173px;
        z-index: 6;
        position: absolute;
        right: 280px;
        top: 0;
        padding-right: 150px;
        &:first-child {
            // padding-top: 223px;
        }
    }
    &__category {
        cursor: pointer;
        color: $white;
        font-weight: 300;
        font-size: 23px;
        margin: 0 40px;
        pointer-events: all;
        text-decoration: none;
        &.active {
            color: $white;
            font-weight: 500;
        }
        &:hover {
            color: $white;
        }
    }
    &__arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 99;
        width: 22px;
        img {
            display: block;
            width: 100%;
        }
        &-prev {
            left: 50px;
        }
        &-next {
            right: 50px;
            img {
                transform: scale(-1);
            }
        }
        @media screen and (max-height: 880px) {
            top: 62%;
        }
    }
    .swiper {
        flex: 1 1 auto;
        .swiper-button-prev,
        .swiper-button-next {
            &::after {
                display: none;
            }
        }
    }
    &-product {
        display: flex;
        justify-content: center;
        // flex: 1 1 auto;
        overflow: hidden;
        background-size: cover;
        background-position: top center;
        // overflow: hidden;
    }
    img {
        display: block;
        // max-width: 100%;
    }
}

.catalog {
    &__categories {
        margin: 0 -40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 auto;
        height: 173px;
        z-index: 6;
        position: relative;
        &:first-child {
            // padding-top: 223px;
        }
    }
    &__category {
        cursor: pointer;
        color: #7F7F7F;
        font-weight: 300;
        font-size: 23px;
        margin: 0 40px;
        pointer-events: all;
        text-decoration: none;
        &.active {
            color: $white;
            font-weight: 500;
        }
        &:hover {
            color: $white;
        }
    }
    &__main {
        padding-bottom: 100px;
        flex: 1 1 auto;
        max-width: 940px;
        position: relative;
        overflow: hidden;
    }
    &__preview {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: .5s ease;
        &.active {
            opacity: 1;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 70px 20px;
        margin-bottom: 55px;
        padding-top: 230px;
    }
    &__item {
        text-decoration: none;
        position: relative;
        $item: &;
        &:hover {
            z-index: 5;
            #{$item} {
                &-img {
                    img {
                        transform: scale(1.15) rotate(2deg)
                    }
                }
            }
        }
        &-favourite {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            z-index: 1;
            &:hover {
                img {
                    transform: scale(1.1)
                }
            }
            img {
                display: block;
                transition: .3s ease;
            }
        }
        &-img {
            overflow: hidden;
            img {
                width: 100%;
                display: block;
                transition: .4s ease-in-out;
            }
        }
        &-name {
            font-size: 23px;
            color: #000;
            font-weight: 700;
        }
        &-cat {
            font-size: 23px;
            font-weight: 300;
            color: $grey;
            margin: 15px 0 5px;
        }
    }
}

.product {
    display: flex;
    &__categories {
        margin: 0 -40px;
        flex: 1 1 auto;
        height: 173px;
        z-index: 6;
        position: absolute;
        right: 100px;
        top: 300px;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
            }
        }
    }
    &__category {
        cursor: pointer;
        color: #7F7F7F;
        font-weight: 300;
        font-size: 23px;
        margin: 20px 0;
        pointer-events: all;
        text-decoration: none;
        text-align: right;
        display: block;
        &.active {
            color: #000;
            font-weight: 500;
        }
        &:hover {
            color: #000;
        }
    }
    &__image {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 614px;
        width: 100%;
        display: flex;
    }
    &__slider {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            display: block;
            width: 100%;
        }
        .swiper-pagination {
            bottom: 40px;
        }
        .swiper-pagination-bullet {
            border: 2px solid $white;
            background: transparent;
            width: 12px;
            height: 12px;
            opacity: 1;
            &-active {
                background: $white;
            }
        }
    }
    &__main {
        padding: 70px;
        padding-left: 120px;
        flex: 1 1 auto;
        margin-left: 614px;
        color: #000;
    }
    &__body {
        position: relative;
    }
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }
    &__back {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        font-size: 23px;
        transform: translateX(-70px);
        img {
            display: block;
            margin-right: 20px;
        }
    }
    &__cat {
        font-size: 23px;
        font-weight: 500;
        // color: #B2B2B2;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        margin-top: 160px;
    }
    &__like {
        display: flex;
        align-items: center;
        // color: #B2B2B2;
        font-size: 23px;
        font-weight: 300;
        cursor: pointer;
        margin-left: 60px;
        $like: &;
        &-active {
            display: none;
        }
        &.active {
            color: #FF004C;
            #{$like} {
                &-inactive {
                    display: none;
                }
                &-active {
                    display: block;
                }
            }
        }
        img {
            margin-right: 10px;
        }
    }
    &__name {
        font-size: 60px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 5px;
        p {
            margin: 0;
            // margin-top: 5px;
        }
    }
    &__number {
        font-size: 23px;
        font-weight: 300;
        // color: #B2B2B2;
    }
    &__favourite {
        margin-left: 30px;
        cursor: pointer;
        img {
            display: block;
        }
    }
    &__description {
        margin-top: 60px;
        margin-bottom: 100px;
        max-width: 740px;
        width: 100%;
        $description: &;
        &.active {
            #{$description} {
                &-switch {
                    background: #000;
                    border-color: #000;
                    span {
                        transform: translateX(24px);
                        background: #FFF;
                    }
                }
                &-title {

                }
                &-body {
                    display: block;
                }
            }
        }
        &-switch {
            border: 1px solid #000;
            width: 48px;
            height: 24px;
            border-radius: 30px;
            margin-left: 15px;
            transform: translateY(2px);
            transition: .3s ease;
            span {
                border-radius: 50%;
                display: block;
                width: 22px;
                height: 22px;
                background: #000;
                transition: .3s ease;
            }
        }
        &-title {
            font-size: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 300;
            // color: #B2B2B2;
        }
        &-body {
            padding-top: 20px;
            display: none;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 15px 0;
            font-size: 23px;
            // color: #B2B2B2;
            font-weight: 300;
        }
        &-desc {
            min-width: 245px;
        }
    }
    &__more {
        max-width: 740px;
        width: 100%;
        &-title {
            font-size: 42px;
            font-weight: 500;
        }
        &-body {
            padding-top: 40px;
            ul {
                padding: 0;
                padding-left: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
                grid-gap: 5px 15px;
                li {
                    flex: 1 1 30%;
                    color: $grey;
                    // margin: 5px 15px;
                    a {
                        font-size: 23px;
                        color: $grey;
                        text-decoration: none;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    padding: 0 50px;
    background: $black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    pointer-events: none;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s ease;
    &.opened {
        transform: none;
        opacity: 1;
        pointer-events: all;
    }
    &__desc {
        font-size: 23px;
    }
    &__shops {
        display: flex;
    }
    &__shop {
        display: flex;
        align-items: center;
        margin-right: 85px;
        &:last-child {
            margin-right: 10px;
        }
        &-logo {
            img {
                display: block;
            }
        }
        &-desc {
            margin-left: 20px;
            font-size: 23px;
            p {
                margin: 0;
            }
        }
    }
    &__map {
        transition: .3s ease;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        img {
            display: block;
        }
    }
}

.partners {
    .app-page__main {
        flex-direction: column;
        padding-top: 220px;
    }
    &__title {
        margin-top: 0;
        color: #000;
        font-size: 30px;
        margin-bottom: 60px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 30px 60px;
        margin-bottom: 55px;
    }
    &__item {
        background: #fff;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        overflow: hidden;
        // padding: 30px;
        img {
            max-width: 100%;
            display: block;
        }
    }
}

#map {
    width: 100%;
}